PART 1

In [2]:
import pandas as pd
import numpy as np

In [5]:
aes=pd.read_csv("AES.csv")
aes.head()

         Date   High    Low   Open  Close     Volume  Adj Close
0  2017-11-13  10.84  10.44  10.66  10.82  8512700.0   9.232483
1  2017-11-14  10.97  10.74  10.84  10.84  9935600.0   9.249549
2  2017-11-15  10.90  10.78  10.81  10.87  6803000.0   9.275147
3  2017-11-16  10.92  10.73  10.91  10.77  5917000.0   9.189818
4  2017-11-17  10.79  10.60  10.77  10.61  7575000.0   9.053296

In [12]:
aes.shape

(1259, 7)

In [11]:
cdns=pd.read_csv("CDNS.csv")
cdns.head()

         Date       High        Low       Open      Close   Volume  Adj Close
0  2017-11-13  44.689999  43.830002  43.830002  44.669998  1644500  44.669998
1  2017-11-14  44.830002  44.360001  44.520000  44.770000  2674700  44.770000
2  2017-11-15  44.669998  44.009998  44.520000  44.320000  1728600  44.320000
3  2017-11-16  45.389999  44.419998  44.570000  44.860001  3005200  44.860001
4  2017-11-17  45.099998  44.410000  44.869999  44.580002  1813600  44.580002

In [13]:
cdns.shape

(1259, 7)

In [7]:
gww=pd.read_csv("GWW.csv")
gww.head()

,Date,High,Low,Open,Close,Volume,Adj Close
0,2017-11-13,203.199997,194.210007,203.199997,195.789993,1298800.0,181.843704
1,2017-11-14,196.320007,191.389999,194.500000,195.580002,1028900.0,181.648666
2,2017-11-15,198.240005,193.500000,194.630005,195.729996,880400.0,181.787964
3,2017-11-16,200.610001,195.729996,195.919998,198.500000,581200.0,184.360672
4,2017-11-17,200.720001,196.779999,198.210007,197.820007,588500.0,183.729126

In [14]:
gww.shape

(1259, 7)

Part 1, 1.
Yes, there is no difference between columns Close and Adj Close column in case of company CDNS.

In [15]:
cdns.columns

Index(['Date', 'High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

Part 1, 2.

In [20]:
print(f"Highest price of CDNS is", cdns["Adj Close"].max(), "and the lowest price is", cdns["Adj Close"].min())
print(f"Highest price of GWW is", gww["Adj Close"].max(), "and the lowest price is", gww["Adj Close"].min())
print(f"Highest price of AES is", aes["Adj Close"].max(), "and the lowest price is", aes["Adj Close"].min())

Highest price of CDNS is 193.08999633789065 and the lowest price is 35.849998474121094
Highest price of GWW is 608.3800048828125 and the lowest price is 181.64866638183597
Highest price of AES is 28.21999931335449 and the lowest price is 8.681197166442871

Part 1, 3.

In [31]:
print("Values for CDNS:\n",
np.log(cdns["Adj Close"]).agg([np.min, np.max, np.mean, np.median], axis=0))

print("Values for GWW:\n",
np.log(gww["Adj Close"]).agg([np.min, np.max, np.mean, np.median], axis=0))

print("Values for AES:\n",
np.log(aes["Adj Close"]).agg([np.min, np.max, np.mean, np.median], axis=0))

Values for CDNS:
 amin      3.579344
amax      5.263156
mean      4.463322
median    4.418841
Name: Adj Close, dtype: float64
Values for GWW:
 amin      5.202074
amax      6.410800
mean      5.839432
median    5.795869
Name: Adj Close, dtype: float64
Values for AES:
 amin      2.161159
amax      3.340031
mean      2.818596
median    2.816965
Name: Adj Close, dtype: float64

Part 1, 4.

In [32]:
import sklearn.metrics

In [33]:
aes.columns

Index(['Date', 'High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [ ]:
sklearn.metrics.log_loss(aes["Open"], aes["Close"])

In [ ]:
aes.groupby.idxmax(axis=0, skipna=True, numeric_only=False)

Part 1, 5.
What is the average calendar weekly volume for each company? Hint: check how to
resample pandas DF

In [ ]:
np.log()